{% extends "base.html" %}

{% block extrahead %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">   
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/admin/census/census/add/">Crear Censo</a></li>
            <li class="nav-item"><a class="nav-link" href="/census/import_csv">Importar Censo CSV</a></li>
            <li class="nav-item"><a class="nav-link" href="/census/export_csv">Exportar Censo CSV</a></li>
            <li class="nav-item"><a class="nav-link" href="/census/importar-xml/">Importar Censo XML</a></li>
            <li class="nav-item"><a class="nav-link" href="/census/descargar-xml/">Exportar Censo XML</a></li>
            <li class="nav-item"><a class="nav-link" href="/census/reuse/">Reuso de censos</a></li>
        </ul>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="container mt-5">
    
    <table>
        <thead>
            <tr>
                <th>Votacion</th>
                <th>Usuarios</th>
            </tr>
        </thead>
        <tbody>
            {% for voting_id, censos in censos_por_voting_id.items %}
                <tr>
                    <td>{{ voting_id }}</td>
                    <td>
                        <ul>
                            {% for censo in censos %}
                                <li>usuario {{ censo.voter_id }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}      